<style type="text/css">

.bookcase {
display:grid;
grid-template-columns: 20px 1fr 20px;
grid-template-rows: 20px 1 fr 20px;
    border-radius:14px;
    border-width: 14px;
    border-style: solid;
    border-image: url("/assets/img/images/png-transparent-frame-border-silver.png") 18 stretch;
    border-image-inset: 10px;
background-image: url("/assets/img/images/silver_metal_background_1.jpg");
background-size: cover;
}

.shelves {
display:flex;
flex-wrap:wrap;
align-items:flex-end;
gap: 58px 0px;
background-image: url("/assets/img/images/bookshelf_background2.png");
background-size: 100% 218px;
background-repeat: repeat-y;
padding:0px 30px 30px 30px;
justify-self: start;
align-self: start;
width:100%;
}

.book {
    width: 40px;
    height: 160px;
    position: relative;
    margin-left: 3px;
    top: 30px;
    transform-style: preserve-3d;
    transform: translateZ(0) rotateY(0);
    transition: transform 1s;
	background-image:
	  linear-gradient(to right,
	  rgba(0, 0, 0, 0.55),
	  white 20%,
	  white 80%,
	  rgba(0, 0, 0, 0.55)
	  );
	box-shadow: 4px 0px 4px grey;
}

.statue{
    position: relative;
    top:24px;
    height:160px;
    transition: transform 1s;
}

.statue > a > img {
  height:160px;
  padding: 2px 10px;
}

.side {
    position: absolute;
    border: 2px solid black;
    border-radius: 3px;
    font-weight: bold;
    color: black;
    text-align: center;
    transform-origin: center left;
  }
  
  .spine {
    position: relative;
    width: 40px;
    height: 160px;
    transform: rotateY(0deg) translateZ(0px);
  }
  
  .spine-title {
    margin: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    padding-bottom: 10px;
    color:rgb(72, 78, 81);
    writing-mode: sideways-lr;
    text-orientation: sideways;
    text-shadow: 1px 1px 2px grey;
  }

    .long-title {
    margin: 2px;
    font-size: 14px;
	line-height: 16px;
	padding-bottom: 20px;
	text-overflow: clip; 
  }
  
  .spine-author {
    position: absolute;
	display:block;
    color: grey;
    bottom: 0px;
    left: 0%;
    font-size: 10px; 
	line-height:10px;
	padding-bottom:2px;
	width:36px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: clip;  
  }
  
.currently_reading {
background-image:none;
}

.currently_reading > div > span {
color:rgba(120, 120, 120, 0.57);
}

  .top {
    width: 40px;
    height: 120px;
    top: -2px;
    background-image: linear-gradient(90deg, white 90%, gray 10%);
    background-size: 5px 5px;
    transform: rotateX(90deg) translateZ(59px) translateY(-59px);
  }
  
  .cover {
    width: 120px;
    height: 160px;
    top: 0px;
    background-image: url("https://picsum.photos/190/280");
    background-size: contain;
    background-repeat: round;
    left: 36px;
    transform: rotateY(90deg) translateZ(0);
    transition: transform 1s;
  }
  
  .book:hover {
    z-index: 1;
    transform: rotateX(-25deg) rotateY(-40deg) rotateZ(-15deg) translateY(50px)
      translateX(-30px);
  }

  .statue:hover {
    z-index: 1;
    transform: scale(1.5);
    transform-origin: center bottom;
  }  

</style>

<div class="bookcase">

	<div style="width:30px; height: 42px;"></div>
	<div style="width:100%; height: 42px;"></div>
	<div style="width:28px; height: 42px;"></div>	
	
	<div style="width:30px; height: auto;"></div>

	<div class="shelves">

     <div class="statue">
        <img alt="Knight_statue" src="/assets/img/images/Knight_statue_for_bookshelf.png">
      </div>   

     <div class="book">
        <div class="side spine ">
          <span class="spine-title">Old Man and the Sea</span>
          <span class="spine-author">Ernest<br>Hemingway</span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://m.media-amazon.com/images/M/MV5BNGQ0OWNlYTQtZjBlYy00NDJlLTk2ZDEtYzdkMzYxZmU3OWM2XkEyXkFqcGc@._V1_.jpg);cursor:pointer;"> 
        </div>
      </div>

     <div class="book">
        <div class="side spine ">
          <span class="spine-title">Історія України т.1</span>
          <span class="spine-author">Свирид<br>Опанасович</span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://static.yakaboo.ua/media/catalog/product/i/m/img713_35.jpg);cursor:pointer;"> 
        </div>
      </div>
      
     <div class="book">
        <div class="side spine ">
          <span class="spine-title">Історія України т.2</span>
          <span class="spine-author">Свирид<br>Опанасович</span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://static.yakaboo.ua/media/catalog/product/i/m/img913_55.jpg);cursor:pointer;"> 
        </div>
      </div>

     <div class="statue">
        <img alt="cactus-in-a-metallic-pot" src="/assets/img/images/prickly-pear-cactus-in-a-metallic-pot-free-png.png">
      </div>        
      
     <div class="book currently_reading">
        <div class="side spine ">
          <span class="spine-title">Історія України т.3</span>
          <span class="spine-author">Свирид<br>Опанасович</span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://static.yakaboo.ua/media/catalog/product/i/m/img_7530_1.jpg);cursor:pointer;"> 
        </div>
      </div>

 


		
	</div>

	<div  style="width:28px; height: auto;"></div>	
	
	<div style="width:30px; height: 42px;"></div>	
	<div style="width:100%; height: 42px;"></div>	
	<div style="width:28px; height: 42px;"></div>	
	
</div>