<style type="text/css">

.bookcase {
display:grid;
grid-template-columns: 20px 1fr 20px;
grid-template-rows: 20px 1 fr 20px;
    border-radius:14px;
    border-width: 14px;
    border-style: solid;
    border-image: url("/assets/img/images/png-transparent-frame-border-silver.png") 18 stretch;
    border-image-inset: 10px;
background-image: url("/assets/img/images/silver_metal_background_1.jpg");
background-size: cover;
}



.shelves {
display:flex;
flex-wrap:wrap;
align-items:flex-end;
gap: 55px 0px;
background-image: url("/assets/img/images/bookshelf_background1.png");
background-size: 100% 178px;
background-repeat: repeat-y;
padding:28px;
justify-self: start;
align-self: start;
width:100%;
}

.book {
padding-top:auto;
z-index:0;
color:grey;
text-align:center;
background:lightgrey;
transform: translateY(0);
transform: scale(1);
box-shadow: 2px -3px 4px rgba(98, 99, 95, 0.69);
border-top-style: outset;
border-right-style: outset;
border-radius:4px;
border-width:4px;
}

.small {
width:16px;
height:120px;
}

.medium {
width:30px;
height:100px;
margin-top:20px;
}

.large {
width:40px;
height:90px;
margin-top:30px;
}

.to_right {
transform: rotateZ(4deg);
margin: 0px 4px;
}

.to_left {
transform: rotateZ(-4deg);
margin: 0px 4px;
}

.book:hover {
animation: lookcloser .5s ease-in forwards;
}

@keyframes lookcloser {
0% {transform: scale(1);z-index:1}	
100% {transform: scale(2) rotate(90deg); z-index:2}
}

</style>

<div class="bookcase">

	<div style="width:30px; height: 42px;"></div>
	<div style="width:100%; height: 42px;"></div>
	<div style="width:28px; height: 42px;"></div>	
	
	<div style="width:30px; height: auto;"></div>

	<div class="shelves">
		<div class="book large">1
		</div>
		<div class="book large to_left">2
		</div>
		<div class="book medium to_right">3
		</div>	
		<div class="book small">4
		</div>
		<div class="book medium to_left">5
		</div>
		<div class="book medium">6
		</div>	
		<div class="book large to_right">7
		</div>
		<div class="book small">8
		</div>
		<div class="book large to_left">9
		</div>	
		<div class="book medium">10
		</div>
		<div class="book medium">11
		</div>
		<div class="book medium to_left">12
		</div>	
		<div class="book large to_right">13
		</div>
		<div class="book small">14
		</div>
		<div class="book large to_left">15
		</div>	
		<div class="book medium to_left">16
		</div>
		<div class="book small">17
		</div>
		<div class="book large to_left">18	
		</div>	
		<div class="book large">19	
		</div>			
	</div>

	<div  style="width:28px; height: auto;"></div>	
	
	<div style="width:30px; height: 42px;"></div>	
	<div style="width:100%; height: 42px;"></div>	
	<div style="width:28px; height: 42px;"></div>	
	
</div>