<style type="text/css">

.bookcase {
display:grid;
grid-template-columns: 20px 1fr 20px;
grid-template-rows: 20px 1 fr 20px;
    border-radius:14px;
    border-width: 14px;
    border-style: solid;
    border-image: url("/assets/img/images/png-transparent-frame-border-silver.png") 18 stretch;
    border-image-inset: 10px;
background-image: url("/assets/img/images/silver_metal_background_1.jpg");
background-size: cover;
}



.shelves {
display:flex;
flex-wrap:wrap;
align-items:flex-end;
gap: 55px 0px;
background-image: url("/assets/img/images/bookshelf_background1.png");
background-size: 100% 178px;
background-repeat: repeat-y;
padding:28px;
justify-self: start;
align-self: start;
width:100%;
}

.book {
padding-top:auto;
z-index:0;
text-align:center;
transform: translateY(0);
transform: scale(1);
box-shadow: 2px -3px 4px rgba(98, 99, 95, 0.69);
border-top-style: outset;
border-right-style: outset;
border-radius:4px;
border-width:4px;
    writing-mode: sideways-lr;
    text-orientation: sideways;
	font-size:13px;
	line-height:13px;
	font-family: sans-serif;
	padding: 4px;	
	color:rgb(236, 236, 236);
	text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.small {
width:16px;
height:120px;
background-image: linear-gradient(
	to right,
rgb(40, 40, 40) 0,
rgb(192, 192, 192) 12%, 

rgb(197, 197, 197) 88%,
rgb(33, 46, 33) 100%
	);
}

.medium {
width:30px;
height:100px;
margin-top:20px;
background-image: linear-gradient(
	to right,
	#462523 0,
   #cb9b51 12%, 

	#cb9b51 88%,
	#462523 100%
	);
}

.large {
width:40px;
height:90px;
margin-top:30px;
background-image: linear-gradient(
	to right,
rgb(37, 35, 70) 0,
rgb(121, 182, 202) 12%, 

rgb(121, 182, 202) 88%,
rgb(36, 35, 70) 100%
	);
}

.to_right {
transform: rotateZ(4deg);
margin: 0px 4px;
}

.to_left {
transform: rotateZ(-4deg);
margin: 0px 4px;
}

.book:hover {
animation: lookcloser .5s ease-in forwards;
}

@keyframes lookcloser {
0% {transform: scale(1);z-index:1}	
100% {transform: scale(2) rotate(0deg); z-index:2}
}

</style>

<div class="bookcase">

	<div style="width:30px; height: 42px;"></div>
	<div style="width:100%; height: 42px;"></div>
	<div style="width:28px; height: 42px;"></div>	
	
	<div style="width:30px; height: auto;"></div>

	<div class="shelves">
		<div class="book large">Book name here large very large
		</div>
		<div class="book large to_left">Book name here large very large very large
		</div>
		<div class="book medium to_right">Book name here large
		</div>	
		<div class="book small">Book name here
		</div>
		<div class="book medium to_left">Book name here large
		</div>
		<div class="book medium">Book name here large
		</div>	
		<div class="book large to_right">Book name here large very large very large
		</div>
		<div class="book small">Book name here
		</div>
		<div class="book large to_left">Book name here large very large very large
		</div>	
		<div class="book medium">Book name here large
		</div>
		<div class="book medium">Book name here large
		</div>
		<div class="book medium to_left">Book name here large
		</div>	
		<div class="book large to_right">Book name here large very large
		</div>
		<div class="book small">Book name here
		</div>
		<div class="book large to_left">Book name here large very large
		</div>	
		<div class="book medium to_left">Book name here large	
		</div>
		<div class="book small">Book name here
		</div>
		<div class="book large to_left">Book name here large very large very large
		</div>	
		<div class="book large">Book name here large very large	very large
		</div>			
	</div>

	<div  style="width:28px; height: auto;"></div>	
	
	<div style="width:30px; height: 42px;"></div>	
	<div style="width:100%; height: 42px;"></div>	
	<div style="width:28px; height: 42px;"></div>	
	
</div>