<style>    

.img_container {
padding: 20px;
display:flex;
flex-wrap: wrap;
justify-content:center;
}

.img_container > div {
text-align: center;
width:100%;
height:80px;
flex-shrink: 1;
flex-basis: auto;
overflow: visible !important;
}

.img_container > div > img {  
background: none !important;
object-fit: contain;
display: inline-block;
height:100px;
aspect-ratio:initial;

}

</style>

<div>

    <img class="no-bg" alt="STRILCH.UK" src="/assets/img/images/Hero_LOGO_2.png" style="width:90%; height:auto;">

</div>