*,
::before,
::after {
    margin:0;
    border:0;
    box-sizing: border-box;
/*outline: 1px dotted red;     */
}

:root {
    --backgrnd-color: #bbc7cf;
	--btn-color: #b0b3c0;
    --lcd-color:rgb(170, 232, 238);
    --text-highlight: firebrick;
}

.hide {
    display:none;
}
.show {
    display:block;
}

body {
    background: var(--backgrnd-color);
    font-family:Electrolize, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
/*    height: 100vh;*/
    margin-top:20px;
}

.main_tool {
    /* background-image: linear-gradient(#80786D 0%, #BBB5AA 5%, #BBB5AA 95%, #80786D 100%);     */
    padding-bottom: 20px;
    width: 80vw;
    height: auto;
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto; 
    border: 15px double transparent;
    border-image: url("png-transparent-frame-border-silver.png") 18 stretch;
    /* box-shadow: 15px 15px 40px black; */
    grid-template-areas: 
    "headr headr"
    "statusRow statusRow"
    "inputForm inputForm"
    "UrgentImportant NotUrgentImportant"
    "UrgentNotImportant NotUrgentNotImportant";
}
.blockForTasks {
    min-height:150px;
    border-radius:8px;
    border-width: 15px;
    border: 4px groove grey;
/*		border-image: url("png-transparent-frame-border-silver.png") 18 stretch;
		border-image-outset: 4px;
		border-color: #f1f1f1;
		box-shadow: 0px 5px 10px inset hsla(0,0%,37%,1.00); */
    margin: 0px 20px;
    position: relative;
}

.headr {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    border:none;
    box-shadow:none;
    padding: 0px 20px;
}
.headr > h1 {
    font-family: Electrolize, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    color:var(--lcd-color);
    text-shadow: 0px 2px 4px black;
}
.headr > h2 {
    font-size: 1.2rem;
    color:hsla(0,0%,34%,1.00);
    text-shadow: 2px 1px 4px white;
    padding-left: 20px;
/*    margin-left: auto;*/
}
.statusRow {
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;	
    justify-content:space-around;
	gap:10px;
	margin:0px 20px;
}


li {
    list-style: none;
    margin:0;
    padding:0;
    font-size: 1.2rem;
    font-weight: bold;
} 

li > button {
background-color: transparent;
font-weight: bold;
}

.blockForTasks {
    background-color: var(--lcd-color);
    padding: 5px 5px;
    z-index: 2;  
    box-shadow: 5px 5px 10px hsla(0,0%,37%,1.00); 
}

.blockForTasks ul {
    margin:0;
    padding:0;
    z-index:2;
}

.blockForTasks li {
    margin:0;
    padding:0;    
    display: flex;
    flex-wrap: wrap;
    z-index:2;	
}
.blockForTasks div:first-child {
  margin-right:auto;
  padding-left:10px;
  z-index:2;
}
.blockForTasks div:nth-child(2) {
    padding:0px 10px;
    z-index:2;
  }
.blockForTasks > h3 {
    padding: 5px 0px 5px 10px;
    font-size: 1rem;
    color:dimgrey;
    z-index:3;
}
/* .blockForTasks::before {
    position: absolute;
    left:0;
    top:20;
    content:'';
    width:100%;
    height: 50%;
    background-image: radial-gradient(ellipse at 50% 0%, #ffffff 10%, #fbee66 14%, transparent 60%); 
    z-index:-2;
}

.blockForTasks::after {
    position: absolute;
    left:0;
    bottom:0;
    content:'';
    width:100%;
    height: 100%;
    border: 5px double grey;
    box-shadow: 0px 5px 10px inset hsla(0,0%,37%,1.00);
    z-index:-1;
} */
.inputForm {
    border: 1px dashed black;
    border-radius: 10px;
    padding: 10px 10px 0px 10px ;
    margin: 0px 20px;
}
.inputForm div {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap:10px;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin-bottom:10px;
}
#add_button, #delete_button, .statusRow button {
    background: var(--btn-color);    
    border-radius:6px;
    border: 4px groove grey;

/*    border-image: url("png-transparent-frame-border-silver.png") 18 stretch; */
/*    border-image-outset: 4px; */
    font-family: Electrolize, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 1.1rem;
	flex-grow:1;
}
#task_text {
    border: 1px dashed black;
    border-radius: 10px;    
    font-family:Electrolize, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1rem;    
    /* flex-grow: 1; */
    color: grey;
    flex-basis: 300px;
}

li button {
animation: blinking 3s infinite;
}

#task_due_date {
    width: 140px;
    color: grey;  
    border: 1px dashed black;
    border-radius: 10px;    
    font-family:Electrolize, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1rem;    
}

.headr {   
  grid-area: headr;
}
.statusRow {
  grid-area: statusRow;
}
.inputForm {
  grid-area: inputForm;

#UrgentImportant {
  grid-area: UrgentImportant;
}
#NotUrgentImportant {    
  grid-area: NotUrgentImportant;
}
#UrgentNotImportant {     
  grid-area: UrgentNotImportant;
}
#NotUrgentNotImportant {     
  grid-area: NotUrgentNotImportant;
}

}

@media (max-width:600px) {
   .main_tool {
    gap:10px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "headr "
      "statusRow "
      "inputForm "
      "UrgentImportant"
      "NotUrgentImportant"
      "UrgentNotImportant"
      "NotUrgentNotImportant";
}
.wrapper {
    height: 100%;
}    

   
.headr > h1 {
    font-size: 2rem;
}    
.headr > h2 {
    font-size: 1rem;
}    
}

@keyframes blinking {
    0%,100% {color: firebrick}
    50% {color: transparent}
}
